@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,500&display=swap');


.expense-card{
    /*font-family: 'Bebas Neue', cursive;*/
    width:100%;
    border:1px solid #d3d3d3;
    background-color: #e4e4e4;
    margin: 5px auto 0;
    padding:7px;
    border-radius:10px;
}


.expense-card-description{
    /* display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1; */
}

.expense-card h2{
    margin:0;
    font-family: 'Bebas Neue', cursive;
    font-size:20px;
    color:#5a5a5a;
}

.expense-card-date{
    margin:5px;
    font-size:14px;
    font-family: 'Montserrat', sans-serif;
    color: #343434;
}

.expense-card-price{
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size:15px;
    letter-spacing: 1px;
    color: white;
    margin:0 auto;
    width:100px;
    background-color: #93a8b4;
    border:1px solid #5f7684;
    padding: 0.3rem;
}